<hr>
<h2>Databinding Excersize</h2>
<hr>

<label for="">Enter a username for  Two-way data binding field</label>
<input 
	type="text"
	class="form-control"
	[(ngModel)]="username">

<p>{{ username }}</p>

<button 
class="btn btn-danger"
[disabled]="username === ''"
(click)="username = ''">Reset Name</button>

<br><br><br>

<hr><hr><hr>

<h2>Databing Deep Dive</h2>

<div class="container">
  
  <app-cockpit 
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)">
  </app-cockpit>

  <hr>

  <div class="row">
    <div class="col-xs-12">
      <app-server-element 
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement">
        <p>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>