<app-header-cookbook></app-header-cookbook>

<div class="row">
  <div class="col-sm-6">
    <h3>Shopping</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fugiat dignissimos nesciunt quisquam accusantium vel esse nisi, unde architecto, optio sequi laudantium ipsa quae magnam repudiandae ea minus quidem rem.</p>
    <button class="btn btn-lg btn-block btn-primary">View More...</button>
  </div>
  <div class="col-sm-6">
    <h3>Recipes</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae dolor omnis fugit animi! Asperiores repudiandae fugit deleniti, quam ipsum! Reiciendis earum aliquid rem molestias veritatis amet ratione nesciunt, dignissimos optio.</p>
    <button class="btn btn-lg btn-block btn-primary">View More...</button>
  </div>
</div>

